/Front-end/navaShooting/Library
/Front-end/navaShooting/Temp
/Front-end/navaShooting/Logs
/Back-end/public/uploads
/Back-end/public/uploads
Back-end/database/database.js
Back-end/database/database.js
Back-end/database/database.js
